.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    min-width: 330px;
    width: 85%;
}

.searchInput {
    width: 100%;
    height: 2rem;
    border-radius: 15px 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    background: white;
    box-shadow: 0 1px 3px 1px rgba(36, 91, 140, 0.15);
    border: none;
}

.searchButton {
    height: 2rem;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suggestionsList {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 15px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    list-style-type: none;
    padding: 0;
  }
  
  .suggestionItem {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestionItem:hover {
    background-color: #f0f0f0;
  }