:root {
  --primaryBlackBeen: #3b0d11;
  --primaryGarnet: #6a3937;
  --primaryDimGray: #706563;
  --primaryBlack: #232323;
  --primaryStateGray: #37404f;
  --primaryLightBlue: #191b28;
  --primaryWhite: #ffffff;
}
